[Unit]
Description=INSERT_CDNAME
After=smartserver-core.service
Wants=smartserver-core.service
PartOf=smartserver-smartserver.service
StartLimitIntervalSec=60
StartLimitBurst=5

[Service]
Type=exec
User=apollo
EnvironmentFile=/etc/apollo/environment
ExecStart=/var/apollo/data/INSERT_CDNAME/INSERT_CDNAME
Restart=always
RestartSec=10
SyslogIdentifier=%N

[Install]
WantedBy=smartserver-smartserver.service